body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

#searchBar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.import-btn {
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.4s ease-in, transform 0.9s ease;
}

.import-btn:hover {
  background-color: white;
  color: cornflowerblue;
  transform: scale(1.02);
  border: 1px solid cornflowerblue;
}

.candidate-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.candidate-card {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  padding: 20px;
  text-align: center;
}

.candidate-card h3 {
  margin-top: 0;
}

.contact-icons {
  margin-top: 10px;
}

.contact-icons button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.feedback-section {
  margin-top: 40px;
  padding: 20px;
  background-color: lightyellow;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.feedback-section h2 {
  margin-top: 0;
}
